.wrapper {
min-height: 100vh;
width: 100%;
background: #22222222;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.start_btn{
    width: 200px;
    height: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    color: aliceblue;
    outline: none;
    background: #22222222;
    border: 1px solid white;
}
.start_btn:hover{
    background: white;
    color: #22222222;
    transition: 3s all ease;
}

.game_info{
    margin-top: 25px;
    font-size: 36px;
    color: white;
}