.square {
    width: 100px;
    height: 100px;
    background: #fff;
    border: 1px solid #222222;
    cursor: pointer;
    outline: none;
    font-size: 60px;
    display: flex;
    justify-content: center;
 
}
.square:hover {
    background: #b3aaaa;
    transition: 3s all ease;

}